.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}
.container li{
    list-style: none;
}
.container h1{
    color: maroon;
}
.container nav{
    display:flex;
    align-items: flex-start;
    list-style: none;
}
.container a{
    text-decoration: none;
    color:#4b1a1a;
}
.container ul{
    display: flex;
    gap:30px;
}
.container button{
    background-color: #5b0010;
    color: #f5d76e;
    border: 1px solid rgba(0, 000, 00, 1);
    padding: 15px 30px;
    border-radius: 30px;
}
.container button:hover{
    opacity: 0.8;
    transform: scale(1.09);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f0e6; 
}
.locations-section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid #000;
  min-height: 100vh;
}
.text-side {
  flex: 1;
  background: #f5f0e6;
  color: #6b2c2c; 
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-side h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.text-side p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.image-side {
  flex: 1;
  border-radius: 20px;
  border:1px solid #000;
  min-height: 400px;
}

.image-side video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .locations-section {
    flex-direction: column;
  }
  .image-side {
    min-height: 250px;
  }
}
